@charset "UTF-8";
/* CSS Document */

#min1 {
	float: left;
	margin-top: 0px;	
}
#min2 {
	float: left;
}
#sec1 {
	float: left;
}
#sec2 {
	float: left;
}
body {
	background-color: #000000;
}
#time {
	margin-top: 10%;
	margin-left: 10%;
}
